<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>  <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title>Editar Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Nota</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido para editar la nota -->
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input [(ngModel)]="note.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="note.message"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="updateNote()">
    <ion-icon name="save-outline" slot="start"></ion-icon>
    Guardar Cambios
  </ion-button>
</ion-content>
