<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-list>
    <form (ngSubmit)="register()">
      <!-- Campo Email -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <!-- Campo Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <!-- Botón de Registro -->
      <ion-button expand="full" type="submit" class="ion-margin-top">
        <ion-icon name="person-add-outline" slot="start">

        </ion-icon>
        Registrarse
      </ion-button>
    </form>
  </ion-list>

  <!-- Enlace para redirigir a la página de inicio de sesión -->
  <ion-text class="ion-text-center ion-margin-top">
    <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
  </ion-text>
</ion-content>